name : CI Pipeline

on:
  push:
    branches:
      - main
      - develope

jobs:
  deploy:
    name : Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - name : Checkout Node
        uses : actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3  
        with:
          host: ${{ github.ref == 'refs/heads/main' && secrets.EC2_HOST || secrets.STAGING_HOST }}
          username: ubuntu
          key: ${{ github.ref == 'refs/heads/main' && secrets.EC2_SSH_KEY || secrets.STAGING_SSH_KEY }}
          script: |
            set -e
            echo "Deploying branch: ${{ github.ref }}"

            cd ~/DEVMATCH
            git pull origin main

            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

            nvm use 24

            echo "Node version:"
            node -v 
            npm -v

            git fetch origin
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}

            echo "Installing Backend Dependencies..."
            cd Backend
            npm ci

            if [ "${{ github.ref_name }}" = "main" ]; then
              pm2 restart devmatch-backend
            else
              pm2 restart staging-backend
            fi

            echo "Building Frontend..."
            cd ../frontend
            npm ci
            npm run build

            echo "Updating Nginx Static Files..."
            sudo rm -rf /var/www/html/*
            sudo cp -r dist/* /var/www/html/

            sudo systemctl reload nginx

            echo "Deployment Completed Successfully!"
  